body {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto 0;
	transition: all 0.3s ease;
}

body img {
  width: 350px;
}

.name{
  font-family: 'Amatic SC';
  font-size: 45px;
	font-weight: 700;
	line-height: 50px;
	letter-spacing: 0em;
	text-align: center;
  color: whitesmoke;
  padding: 20px 0 20px;
}

.buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
}

button {
	font-family: "Nunito";
	font-size: 20px;
	font-weight: 700;
	line-height: 25px;
	letter-spacing: 0em;
	text-align: center;
	color: whitesmoke;

	background-color: #a92cda;
	border-color: transparent;
	border-radius: 15px;
  
  padding: 10px;
  margin: 5px;
}

button:hover {
  background-color:  #d674fd;
}

.social_icons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 25px;
}

.social_icons img {
	width: 40px;
	padding: 0 10px;
}

/*tablet-----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (min-width: 768px) {
	
	body {
		margin: 75px auto 0;
	}
	
	body img {
  width: 400px;
}}