body {
	background-color: black;
	display: flex;
	flex-direction: column;
	margin: 0;
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	border-bottom: 1px solid #a92cda;
	margin: 0 30px;
	padding: 0 ;
}

header h1 {
	font-family: "Amatic SC";
	font-size: 50px;
	font-weight: 700;
	line-height: 50px;
	letter-spacing: 0em;
	text-align: center;
	color: whitesmoke;
	padding: 30px;
	margin: 0;
}

header h2 {
	margin: 0;
	padding: 0;
	color: #a92cda;
	border: none;
}

header button {
	margin: 0;
	padding: 0;
	color: #a92cda;
	border: none;
	background-color: transparent;
}

header img {
	width: 30px;
}

main {
	margin: 0 0 40px;
	padding: 0;
}

#about_me {
	display: flex;
	flex-direction: column;
  align-items: center;

	padding: 0;
	margin: 20px 40px;
}

.name_mobile {
	font-family: "Nunito";
	font-size: 29px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 0em;
	text-align: center;
	color: #a92cda;

	margin: 0;
	padding: 20px 0;
}


.photo img {
	width: 150px;
	border-radius: 0px;

	padding: 10px;
}

.text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.name_tablet_desktop {
	display: none;
}

.text p {
	font-family: "Nunito";
	font-size: 15px;
	font-weight: 700;
	line-height: 25px;
	letter-spacing: 0em;
	text-align: center;
	color: rgb(190, 190, 190);

	margin: 0;
	padding: 20px;
}

#studies {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: flex-start;
	align-items: flex-star;
	padding: 0;
	margin: 40px;
}

#studies h2 {
	font-family: "Amatic SC";
	font-size: 40px;
	font-weight: 700;
	line-height: 50px;
	letter-spacing: 0em;
	align-self: start;
	color: #a92cda;
	margin: 0;
	padding: 0;
}

.web {
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.web h3 {
	font-family: "Nunito";
	font-size: 20px;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: left;
	color: whitesmoke;

	margin: 0;
	padding: 20px 0;
}

.web_studies_list {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	margin: 0 30px;
}

.web_studies_item {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding: 0;
}

.web_studies_item img {
	width: 15px;
	height: 15px;
	margin: 0;
	padding: 0;
}

.web_studies_item p {
	font-family: "Nunito";
	font-size: 15px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	color: rgb(190, 190, 190);
	margin: 0;
	padding: 10px;
}

.biology {
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.biology h3 {
	font-family: "Nunito";
	font-size: 20px;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: left;
	color: whitesmoke;

	margin: 0;
	padding: 20px 0;
}

.biology h4 {
	font-family: "Nunito";
	font-size: 15px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	color: rgb(190, 190, 190);

	margin: 0;
	padding: 0;
}

.biology p {
	font-family: "Nunito";
	font-size: 15px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	color: rgb(146, 146, 146);

	margin: 0;
	padding: 10px 0;
}

#experience {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: flex-start;
	align-items: flex-star;
	margin:40px;
}

#experience h2 {
	font-family: "Amatic SC";
	font-size: 40px;
	font-weight: 700;
	line-height: 50px;
	letter-spacing: 0em;
	align-self: start;
	color: #a92cda;
	margin: 0;
	padding: 0;
}

.assistant {
	display: flex;
	flex-direction: column;
	margin: 0;
  padding: 20px;
}

.assistant h3 {
	font-family: "Nunito";
	font-size: 20px;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: left;
	color: whitesmoke;

	margin: 0;
	padding: 20px 0;
}

.assistant p {
	font-family: "Nunito";
	font-size: 15px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	color: rgb(190, 190, 190);

	margin: 0;
	padding: 0;
}

.content {
	display: flex;
	flex-direction: column;
	margin: 20px;
}

.content h3 {
	font-family: "Nunito";
	font-size: 20px;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: left;
	color: whitesmoke;

	margin: 0;
	padding: 20px 0;
}

.content p {
	font-family: "Nunito";
	font-size: 15px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	color: rgb(190, 190, 190);

	margin: 0;
	padding: 0;
}

#skills {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: flex-start;
  align-self: start;
	margin:40px;
}

#skills h2 {
	font-family: "Amatic SC";
	font-size: 40px;
	font-weight: 700;
	line-height: 50px;
	letter-spacing: 0em;
	align-self: start;
	color: #a92cda;
	margin: 0;
	padding: 0;
}

.skills_list {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	margin:  20px;
}

.skills_item {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding: 10px 0;
}

.skills_item img {
	width: 15px;
	height: 15px;
	margin: 0;
	padding: 0;
}

.skills_item p {
	font-family: "Nunito";
	font-size: 17px;
	font-weight: 700;
	line-height: 25px;
	letter-spacing: 0em;
	text-align: left;
	color: whitesmoke;
	margin: 0;
	padding: 0;
  padding-left: 15px;
}


#contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: flex-start;
	align-items: flex-star;
	padding: 0;
  padding-top: 40px;
	margin: 40px;
  border-top: 1px solid #a92cda;
}

#contact h2 {
	font-family: "Amatic SC";
	font-size: 40px;
	font-weight: 700;
	line-height: 50px;
	letter-spacing: 0em;
	align-self: start;
	color: #a92cda;
	margin: 0;
	padding: 0;
  padding-bottom: 10px;

}

.contact_item {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding: 10px 0;
}

.contact_item img {
  width: 15px;
	height: 15px;
	margin: 0;
	padding: 0;
}

.contact_item p {
	font-family: "Nunito";
	font-size: 15px;
	font-weight: 700;
	line-height: 25px;
	letter-spacing: 0em;
	text-align: left;
	color: whitesmoke;
	margin: 0;
	padding: 0;
  padding-left: 15px;
}

.contact_item a {
  text-decoration: none;
}

#references {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;

	padding: 0;
	margin: 40px;
}

#references h2 {
	font-family: "Amatic SC";
	font-size: 40px;
	font-weight: 700;
	line-height: 50px;
	letter-spacing: 0em;
	align-self: start;
	color: #a92cda;
	margin: 0;
	padding: 0;
}

.reference {
  padding: 20px;
}

.reference h3 {
	font-family: "Nunito";
	font-size: 15px;
	font-weight: 700;
	line-height: 25px;
	letter-spacing: 0em;
	text-align: left;
	color: whitesmoke;
	margin: 0;
	padding: 10px 0;
}

.reference p {
	font-family: "Nunito";
	font-size: 15px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	color: rgb(190, 190, 190);

	margin: 0;
	padding: 5px 20px;
}

.reference a {
  text-decoration: none;
}



footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background-color: #a92cda;
}

footer button {
    background-color: black;
    border-color: transparent;
    border-radius: 10px;
    
    padding: 10px;
    margin: 0;
}

footer h2 {
  font-family: "Nunito";
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  color: whitesmoke;
  margin: 0;
}

@media (min-width: 1440px) {
	main {
		background-color: black;
		display: flex;
		flex-direction: column;
		margin: 50px 200px;
	}
}
